body, p, h1, ul, li {
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
}

body {
	font-family: Georgia, serif;
	color: #252525;
	background: #e7e4d8;
}

* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

/* Header */

.header {
	margin: 0 auto;
	background: #d6d3d8;
	padding: 20px;
}

.header::before, .header::after {
	content: "";
	display: table;
	clear: both;
}

.header-logo {
	float: left;
}

.header-menu {
	float: right;
	vertical-align: middle;
}

.header-menu ul li {
	display: inline-block;
}

.header-menu ul li a {
	color: #252525;
	padding: 0 10px;
	font-size: 1.125em;
}

.header-menu li:first-child a {
	padding-left: 0;
}


